<div class="container">
  <div class="row">
    <h3>Members</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Primary Phone #</th>
          <th>Primary Phone Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.primary_phone %></td>
            <td><%= user.primary_phone_type %></td>
            <td>
              <%= link_to "/users/#{user.id}" do %>
                <i class="glyphicon glyphicon-share-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
