<h3>User</h3>
<p>First Name: <%= @user.first_name if @user.first_name %></p>
<p>Last Name: <%= @user.last_name if @user.last_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Primary Phone: <%= @user.primary_phone if @user.primary_phone %></p>
<p>Primary Phone Type: <%= @user.primary_phone_type if @user.primary_phone_type %></p>
<p>Secondary Phone: <%= @user.secondary_phone if @user.secondary_phone %></p>
<p>Secondary Phone Type: <%= @user.secondary_phone_type if @user.secondary_phone_type %></p>
<p>Address: <%= @user.address if @user.address %></p>
