<h3>User</h3>
<p>First Name: <%= @user.first_name if @user.first_name %></p>
<p>Last Name: <%= @user.last_name if @user.last_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Primary Phone: <%= @user.primary_phone if @user.primary_phone %></p>
<p>Primary Phone Type: <%= @user.primary_phone_type if @user.primary_phone_type %></p>
<p>Secondary Phone: <%= @user.secondary_phone if @user.secondary_phone %></p>
<p>Secondary Phone Type: <%= @user.secondary_phone_type if @user.secondary_phone_type %></p>
<p>Address 1: <%= @user.address_1 if @user.address_1 %></p>
<p>Address 2: <%= @user.address_2 if @user.address_2 %></p>
<p>City: <%= @user.city if @user.city %></p>
<p>State: <%= @user.state if @user.state %></p>
<p>Zip: <%= @user.zip if @user.zip %></p>
<p>Parish: <%= Parish.find_by_id(@user.parish_id).name if @user.parish_id %></p>
